//font
$arial: 'BPG Arial Caps';
$glaho: 'BPG Glaho';
$optima: 'Optima';

$en-title: $optima;
//$en-title-text : $web;
$en-text : $glaho;

$ru-title: $optima;
$ru-text : $glaho;

$ge-title: $arial;
//$ge-title-text : $web;
$ge-text : $glaho;

$default-title: $en-title;
//$default-title-text: $ge-title-text;
$default-text: $en-text;

$title:50px;
$text:25px;