@use "../helpers" as *;

.container-def{
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}
.container-small{
    width:71%;
    max-width: 1100px;
    margin: 0 auto;
    @include mq(tablet){
        width: 85%;
    }
}
.container-xs{
    width:65%;
    max-width: 900px;
    margin: 0 auto;
    @include mq(tablet){
        width: 85% ;
    }

}

.section-common{
    padding: 40px 0;
    @include mq(desktop-small){
        padding: 20px 0;
    }
}
.section-header{
    display: flex;
    align-items: center;
    &.right-side-title{
        display: flex;
        justify-content: flex-end;
        .side-tab{
            order: 2;
            @include mq(tablet-small){
                width: 125px;
            }
        }
    }
    .header-title{
        @include family(title);
        @include fs($header);
        color: $gray;
        text-transform: uppercase;
        font-weight: bold;

        a{
            text-decoration: none;
            color: $gray;
        }
        @include mq(tablet-medium){
            @include fs(25px);

        }
        @include mq(tablet-small){
            @include fs(20px);
        }
    }
}
.right-side-tab{
    display: flex;
    justify-content: flex-end;
}
.side-tab{
    background-color: $gr-dark;

    width: 325px;
    height: 60px;
    display: inline-flex;



    @include mq(tablet-small){
        width: 125px;
    }
    &.bottom-right-corner{
        clip-path: polygon(0 0, 60% 0%, 100% 100%, 0% 100%);
    }
    &.top-left-corner{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 40% 100%);
    }
    &.top-right-corner{
        clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 100%);
    }
    &.bottom-left-corner{
        clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0 100%);
    }

    &.short-tab{
        //left site
        &.bottom-left-corner{
            width: 10%;
            clip-path: polygon(60px 0, 100% 0%, 100% 100%, 0 100%);
        }
        //right side
        &.top-right-corner{
            width: 20%;
            clip-path: polygon(0 0, 100% 0%, calc(100% - 60px) 100%, 0% 100%);
        }
    }
    &.long-tab{
        //right site
        &.top-right-corner{
            width: 90%;
            clip-path: polygon(0 0, 100% 0%, calc(100% - 60px) 100%, 0% 100%);
        }
        //left side
        &.top-left-corner{
            width: calc(80% + 60px);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 60px 100%);
        }
    }
}
.button{
    &-def{
        background-color: rgba(white,0.7);
        text-transform: capitalize;
        @include family(title);
        @include fs(18px);
        text-decoration: none;
        color: $gray;
        padding: 5px 15px;
        position: relative;
        transition: 0.3s;
        transition-delay: 0.1s;
        display: inline-flex;
        align-self: center;

        &::after,
        span::before ,
        &::before,
        span::after{
            content: '';
            position: absolute;
            background: transparent;
            transition: 0.3s;

        }
        &::after,
        span::before {
            width: 60%;
            height: 30%;
        }
        &::before,
        span::after {
            width: 30%;
            height: 60%;
        }
        
        &::before {
            top: -2px;
            left: -2px;
            border-top: 2px solid $bluish-gray;
            border-left: 2px solid $bluish-gray;
        }
        &::after {
            top: -1px;
            right: -1px;
            border-top: 1px solid $bluish-gray;
            border-right: 1px solid $bluish-gray;
        }
        
        span::before {
            bottom: -1px;
            left: -1px;
            border-bottom: 1px solid $bluish-gray;
            border-left: 1px solid $bluish-gray;
        }
        span::after {
            bottom: -2px;
            right: -2px;
            border-bottom: 2px solid $bluish-gray;
            border-right: 2px solid $bluish-gray;
        }
        
        
        &:hover::before,
        &:hover::after,
        &:hover span::before,
        &:hover span::after  {
            width: 50%;
            height: 50%;
            border-color: transparent;
        }
        &:hover{
            // border: 0;
            background-color: $teracot;
            color: white;
        }
    }
}


//.middle-east{
//    path{
//
//    fill: red!important;
//    }
//}
//.central-asia{
//    path{
//
//    fill: green!important;
//    }
//}
//.europe{
//    path{
//
//        fill: blue!important;
//    }
//}
//.caucasus{
//    text-align: center;
//    color: cadetblue;
//    fill: red;
//    position: relative;
//    display: inline-block;
//    path{
//
//    fill: yellowgreen!important;
//    }
//}
.map-text{
   @include fs(20px);
    @include family(title);
    font-weight: bold;
    fill: $bluish-gray;
    text-transform: capitalize;
    z-index: 999999;
    display: block;
}
.caucasus-text{
    transform: translate(23%,56%);
}
.europe-text{
    transform: translate(10%,46%);
}
.central-asia-text{
    transform: translate(40%,53%);
}
.middle-east-text{
    transform: translate(17%,71%);
}
.section-common .continent{
    path{
        //cursor: pointer;
        transition: 0.2s;
        opacity: 0.3;
    }

}
.each-page{
    background-color: $beage;
    padding-top: 87px;
    min-height: calc(100vh - 106px);
}
.page-title{
    text-align: center;
    color: $bluish-gray;
    text-transform: uppercase;
    @include fs(28px);
    @include family(title);
    padding-top: 40px;
}