@use "../helpers" as *;

.about-page{
  .section-common{
    padding: 0;
  }
  .about-inner-section{
    position: relative;
    height: 700px;
    background-color: white;
    .content{

      height: calc(100% - (#{$tab-height} * 2 ));
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .image-container{
      //float: left;
      //display: flow-root;
      //shape-outside: polygon(0 0, 100% 0%, 20% 100%, 0% 100%);
      //shape-margin: 20px;

      position: absolute;
      top: $tab-height;
      left: 0;
      width: 70%;
      height: calc(100% - #{$tab-height} * 2 );
      transform: translateY(-1px);
      clip-path: polygon(0 0, 100% 0%, 10% 100%, 0% 100%);
      overflow: hidden;
      flex: 1 1 0;
      .overlay{
        background-color: rgba($gr-dark,0.3);
        z-index: 1;
      }
      .overlay,  img{
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
      }
    }
    .text-side{
      width: 60%;
      height: 100%;
      display: flex;
      /* justify-content: flex-end; */
      padding-right: 10%;
      /* flex: 1 1 0; */
      position: relative;
      justify-content: flex-end;
      flex-direction: column;
      align-items: flex-end;
      .title{
        width: 70%;
        text-transform: uppercase;
        @include family(title);
        @include fs($header);
        padding-bottom: 10px;
        color: $bluish-gray;
        font-weight: bold;
        text-align: center;
      }
      .text-container{
        @include family(title);
        @include fs(14px);
        color: $bluish-gray;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        p{
          padding: 10px 0;
          line-height: 25px;
        }
        .small-part{
          width: 90%;
        }
        .big-part{
          width: 100%;
        }
      }
    }
  }
  .goals-and-missions-section{
    position: relative;
    min-height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .goals-and-missions-container{
      display: flex;
      margin: auto;
      &>div{
        flex: 1 1 0;
      }
      .title{
        text-transform: uppercase;
        @include family(title);
        @include fs($header);
        padding-bottom: 30px;
        color: black;
        font-weight: bold;
      }
      .text-container{
        @include family(text);
        @include fs(16px);
        color: $gray;
        line-height: 30px;
        font-weight: bold;
        ul{

          li{
            padding: 5px 0;
            &::marker{
              font-size: 30px;
              display: block;
            }
          }
        }
      }
    }
    .image-container{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      pointer-events: none;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}