.about-section{
    .text-container{
        color: $gray;
        padding: 40px 0;
        @include family(text);
        @include fs(18px);
        .text-highlight{
            color: $gr-dark;
            @include family(title);
            @include fs(25px);
            text-align: center;
            display: block;
            font-weight: bold;
            padding: 15px 0;
        }
    }
    .button-container{
        text-align: center;
    }
}

.geography-section{
    height: min(700px, 40vw);

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    .section-header{
        margin-right: auto;
        z-index: 1;
    }
    .geography-svg-container{
        //overflow: hidden;
        //height: calc(100% - 80px );
        height: 100%;

        position: absolute;
        inset: 0;
        width: 100%;
        /* align-content: center; */
        /* text-align: center; */
        margin: 0;
        display: flex;
        justify-content: center;
        svg{
            height: 42vw;
        }
    }
    .button-container{
        text-align: center;
        .button{
            padding: 10px 25px;
        }
    }
    @include mq(desktop-small){
        height: unset;
        .geography-svg-container{
            position: unset;
            svg{
                height: unset;
            }
        }
    }
}

.application-section{
    background-color: $beage;

    .section-header{
        padding: 80px 0;
    }
    .application-info{
        display: flex;
        justify-content: space-between;
        padding: 40px 0 ;
        padding-bottom: 80px;
        gap: 30px;
        .side{
            flex: 1 2 0;
            position: relative;
            overflow: hidden;
            .image-container{
                img{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                &:after{
                    content: "";
                    background-color: rgba(white, 0.4);
                    width: 100%;
                    height: 100%;
                    z-index: 4;
                    position: relative;
                    display: inline-block;
                }
            }
        }
        .center{
            flex: 2 2 0;
            background-color: white;
            border: 1px solid $bluish-gray;
            padding: 50px 60px;
            text-align: center;
            .title{
                text-transform: uppercase;
                @include family(title);
                @include fs($header);
                padding-bottom: 30px;
                color: $bluish-gray;
            }
            .button{
                padding: 15px 20px;
                @include fs(18px);
                font-weight: bold;
            }
            .text-highlight{
                color: $gr-dark;
                @include family(title);
                @include fs(25px);
                text-align: center;
                display: block;
                font-weight: bold;
                padding: 20px 0;
            }
            .text-container{
                @include family(title);
                @include fs(16px);
                color: $bluish-gray;
            }
        }
    }
    @include mq(desktop-small){
        .section-header{
            padding: 40px 0;
        }
        .application-info{
            flex-direction: column;
            padding-top: 0px;
            .side{
                height: 20vh;
                flex: unset;
            }
        }
    }
    @include mq(phablet){
        .application-info{
            .side{
                height: 10vh;
            }
            .center{
                padding: 20px 30px;
                .title{
                    @include fs(25px);

                }
            }
        }
    }
}

.contact-section{
    background-color: $beage;
    position: relative;
    padding-bottom: 100px;
    .contact-info-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 330px;
        margin-top: 50px;
        .map{
            position: absolute;
            width: 100%;
            height: 330px;
            z-index: 0;
            .overlay{
                background-color: rgba(255,255,255,0.7);
                width: 100%;
                height: 100%;
                position: absolute;
            }
            iframe{
                width: 100%;
                height: 100%;
            }
        }
        .title{
            position: relative;
            z-index: 1;
            color: $bluish-gray;
            text-transform: uppercase;
            @include family(title);
            @include fs(35px);
            font-weight: bold;
        }
        .info-row{
            position: relative;
            ul{
                display: flex;
                gap: 30px;
                padding: 40px 0;
                list-style-type: none;
            }
            .info-title{
                text-transform: uppercase;
                color: $gr-dark;
                display: block;
                letter-spacing: 3px;
                @include family(title);
                @include fs(16px);
                font-weight: bold;
            }
            .info{
                @include family(text);
                @include fs(16px);
                letter-spacing: 2px;
                color: $bluish-gray;
                text-decoration: none;

            }
        }
        .button-container{
            .button{
                padding: 15px 25px;
                font-weight: bold;
            }
        }
    }
    @include mq(tablet){
        .contact-info-container{
            height: 500px;
            .map{
                height: 500px;

            }
            .info-row ul{
                flex-direction: column;
            }
        }
    }
}

.footer-section{
    background-color: rgba($gr-dark,0.9);
    padding: 25px 0;
    .container-def{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .right-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .social-container{
            list-style-type: none;
            color: white;
            a{
                text-decoration: none;
                color: white;
                transition: 0.3s;
                svg{
                    fill: #F5F5F2;
                    transition: 0.3s;

                }
                &:hover{
                    svg{
                        fill:$teracot;
                    }
                }
            }
        }
        .credits{
            list-style-type: none;
            color: white;

            @include family(title);
            @include fs(14px);
            .line{
                display: inline-block;
                transform: translateY(1px);
                height: 12px;
                width: 1px;
                background-color: white;
            }
            @include mq(phone){
                span{
                    display: block;
                    &.line{
                        display: none;
                    }
                }
            }
        }
    }
}
