@use "../helpers" as *;

.geography-page{
  background-color: $beage;
  padding-top: 87px;

  &:before,
  &:after{
    content: "";
    position: fixed;
    background-color: rgba($gr-dark, 0.8);

    width: 50px;
    height: 60vh;
    display: inline-block;

  }
  &:before{
    bottom: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
  }
  &:after{
    top: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 90%);
  }

}