@use "../helpers" as *;

.geography-page{

  &:before,
  &:after{
    content: "";
    position: fixed;
    background-color: rgba($gr-dark, 0.8);

    width: 50px;
    height: 60vh;
    display: inline-block;

  }
  &:before{
    bottom: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
  }
  &:after{
    top: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 90%);
  }
  .geography-svg-container{
    margin: 0 auto;
    width: 85%;
    .continent{
      .map-text{
        cursor: pointer;
        transition: 0.2s;
      }
      path{
        transition: 0.2s;
        cursor: pointer;
      }
      &:hover{
        .map-text{
          fill: black;
          text-shadow: 1px 1px rgba(black, 0.1);
        }
          path{
              fill: $teracot!important;

          }
      }
    }
  }
  .popup-background{
    //position: absolute;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a7e75;
    .map-section-container{
      position: relative;
    }
    .country-list-container{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .title{
        color: $bluish-gray;
        @include family(title);
        @include fs(24px);
        text-transform: capitalize;
        .prefix{
          @include fs(18px);
        }
      }
      .country-list{
        list-style-type: none;
        text-transform: capitalize;
        @include family(title);
        @include fs(24px);

      }
    }


  }
}